<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>MySQL posts</title>
  </head>
  <body>
    <div class="head">
      <p>SPACE</p>
    </div>
   <h2>
      <article class="article">
       <% rows.forEach((row, i) => {  %>
      <div class="title"><a href="<%=row.title %>"><%=row.title %></a></div>
      <% let date = row.date_posted.toString().substring(0, 15); %>  
      <div class="score">Date of posting: <%=date %></div>
      <div class="score">Number of likes: <%=row.score %></div>
      <% let id = i+1 ;%>
      <div class="upvote-post"><button class="likebutton" data-id="<%=row.id%>" data-action="upvote">Upvote</button></div>
      <div class="downvote-post"><button class="kislikebutton" data-id="<%=row.id%>" data-action="downvote">Downvote</button></div>
      <% }); %>
    
  </h2>
  </article>
  </body>
</html>